:root{
    --headerThemeColor: rgb(5, 37, 43);
    --headerSecondColor: rgb(0, 150, 167);
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body{
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--headerThemeColor);    
}

header h1 {
    flex-shrink: 1; 
    padding-left: 30px;
    padding-right: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 50px;
    color: var(--headerThemeColor);
    background-color: var(--headerSecondColor);
}

header nav {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

ul {
    display: flex;
    list-style-type: none;    
}

header li {
    margin-right: 20px;    
    align-items: center;
    border-bottom: 3px solid;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 30px;
    color: var(--headerSecondColor);
}

header a {
    text-decoration: none;
    color: var(--headerSecondColor);
}

.sub-header{
    display: flex;
    background-image: url(./images/Header-image.png);
    background-size: cover;
    height: 175px;
    justify-content: flex-end;
    align-items: flex-end;
}

.sub-header h2 {
    margin-right: 50px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 40px;
    color: var(--headerThemeColor);
    background-color: var(--headerSecondColor);
}

section {
    display: flex;
}

#about-me img {
    max-height: 300px;
    margin-top: 70px;
    margin-left: 15px;
    margin-right: 30px;
    margin-bottom: 30px;
}

#about-me h1 {
    border-right: 3px solid;
    margin-left: 100px;
    margin-right: 25px;
    margin-bottom: 0px;
    margin-top: 50px;
    padding: 10px;
    font-size: 50px;
}

#about-me p {
    padding: 10px;
    margin-top: 70px;
}

#work h1 {
    border-right: 3px solid;
    margin-left: 208px;
    margin-right: 25px;
    margin-bottom: 0px;
    margin-top: 50px;
    padding: 10px;
    font-size: 50px;
}

#contact-me {
    align-items: center;
}

#contact-me h1 {
    border-right: 3px solid;
    margin-left: 65px;
    margin-right: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 10px;
    font-size: 50px;
}

#contact-me ul {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    padding-left: 75px;
}

#contact-me li {
    margin-right: 20px;    
    align-items: center;
    border-bottom: 3px solid;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 30px;
}

#contact-me a{
    text-decoration: none;
    text-align: center;
    color: black;
}


